
@media screen and (min-width:1241px) and (max-width:1500px){

}

@media screen and (min-width:1025px) and (max-width:1240px){
	
}

@media screen and (min-width:992px) and (max-width:1024px){
	
}

@media screen and (min-width:768px) and (max-width:991px){
.nav {
    margin: 0;
    padding: 0;
}
.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
}
.nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin-top: 10px;
}
.nav-btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
}
.nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #4FAEAA;
    height: 0;
    transition: all 0.3s ease-in;
    top: 60px;
    left: 0;
    overflow: hidden;
    z-index: 9;
    padding: 0px;
}
.nav-list li {
    width: 100%;
    margin-top: 7px;
    font-size: 14px;
}

#nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
}

.nav-menu.active {
    border-bottom: 4px solid #000;
    padding-bottom: 7px;
    transition: none;
}    

.nav-list a{
    color: #fff;
}

.nav-list a.active{
    color: #000;
}
	
}
@media (max-width: 767px){
	
  
}



@media screen and (max-width:575px){

	
}


@media screen and (max-width:480px){

	
}
